    .diagnostico-container {
        display: flex;
        gap: 2rem;
        padding: 2rem;
        color: white;
        align-items: flex-start;
        width: 100%;
    }
    

    .left-panel, .right-panel {
        flex: 1;
    }
    
    .upload-area {
        border: 2px dashed gray;
        height: 300px;
        width: 100%;
        background-color: #1f2937;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .hidden-input {
        display: none;
    }
    
    .selected-image-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .image-preview-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 1rem;         
        padding-top: 0.5rem;      
        border-top: 2px solid #444;
    }
    
    .image-preview {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 6px;
        border: 1px solid #ccc;
    }
    
    .button-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        margin-bottom: 1rem;
    }

    .preview-label {
        margin-top: 0.5rem;
        font-weight: bold;
    }
    
    .clear-button,
    .send-button {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 6px;
        color: white;
    }
    
    
    .clear-button {
        background-color: #ef4444;
    }
    
    .send-button {
        background-color: #6d5dfc;
    }
    
    .send-button:hover {
        background-color: #594dd6;
    }

    .clear-button:hover {
        background-color: #c74141;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
    
    .modal {
        background-color: #1f2937;
        padding: 2rem;
        border-radius: 8px;
        color: white;
        text-align: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }
    
    .modal button {
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        background-color: #6d5dfc;
        border: none;
        color: white;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .modal button:hover {
        background-color: #594dd6;
    }
    
    .modal-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
    
    .modal-message {
        font-size:1rem;
    }

    input[type="range"] {
        padding: 0 !important;
    }

    .resultado-box {
        background-color: #1f1f2e;
        padding: 1rem;
        border-radius: 12px;
        color: white;
    }
    
    .clase-principal {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.25rem;
    }
    
    .clase-item {
        margin-bottom: 0.75rem;
    }
    
    .clase-info {
        display: flex;
        justify-content: space-between;
        font-size: 0.95rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    
    .clase-nombre {
        text-transform: capitalize;
    }
    
    .progress-bar-container {
        width: 100%;
        height: 10px;
        background-color: #e5e7eb;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .progress-bar-fill {
        height: 100%;
        background-color: #3b82f6;
        transition: width 0.3s ease-in-out;
    }
    
    .acciones-diagnostico {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    
    .descripcion-textarea {
        margin-top: 1rem;
        width: 100%;
        box-sizing: border-box;
        min-height: 100px;
        max-height: 200px;
        padding: 0.75rem 1rem;
        border: 1px solid #4b5563;
        border-radius: 8px;
        resize: vertical;
        font-size: 0.95rem;
        font-family: inherit;
        color: #f9fafb;
        box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05);
        overflow-y: auto;
        transition: border 0.3s ease;
    }
    
    .descripcion-textarea:focus {
        border-color: #3b82f6;
        outline: none;
    }
    
    .botones-diagnostico {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    
    .boton-guardar,
    .boton-eliminar {
        padding: 0.75rem;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        font-size: 0.95rem;
        cursor: pointer;
    }
    
    .boton-guardar {
        background-color: #6d5dfc;
        color: white;
    }
    
    .boton-guardar:hover {
        background-color: #594dd6;
        color: white;
    }

    .boton-guardar.deshabilitado {
        background-color: #9ca3af;
        cursor: not-allowed;
    }
    
    .boton-eliminar {
        background-color: #ef4444;
        color: white;
    }
    
    .boton-eliminar:hover {
        background-color: #c74141;
        color: white;
    }

    .modal-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9998;
    }
    
    .modal-content {
        background: #1f1f2e;
        color: white;
        padding: 1rem 2rem;
        border-radius: 10px;
        width: 90%;
        max-width: 600px;
    }
    
    .imagenes-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 1rem;
    }
    
    .miniatura {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 6px;
        border: 2px solid #228fb6;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .miniatura:hover {
        transform: scale(1.05);
    }

    .enlace {
        color: #9db4ff;
        cursor: pointer;
        text-decoration: underline;
    }
    
    .cerrar-btn {
        margin-top: 1rem;
        background: #ff0000;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
    
    .cerrar-btn:hover {
        background: #cc0000; 
    }
    
    .cerrar-btn:active {
        background: #aa0000;
    }

    .visor-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    
    .imagen-ampliada {
        max-width: 90%;
        max-height: 90%;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
    
    .titulo-modal {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .icono-ojo {
        color: #9db4ff;
        transition: transform 0.2s ease;
    }
    
    .icono-ojo:hover {
        transform: scale(1.2);
        color:#ffffff;
    }